.parallax{
    perspective: 5px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.parallax::-webkit-scrollbar{
    display: none;
}

.parallax-layer{
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
}

.wardrobe{
    background-image: url("../img/wardrobe.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

.flask1{
    background-image: url("../img/flask1.png");
    width: 12.13vw;
    height: 17.81vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 68.51%;
    left: 10.83%;
    z-index: 4;
}

.flask2{
    background-image: url("../img/flask2.png");
    width: 8.23vw;
    height: 13.96vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 74.17%;
    left: 23.85%;
    z-index: 4;
}

.flask3{
    background-image: url("../img/flask3.png");
    width: 11.72vw;
    height: 13.8vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 74.1%;
    left: 47.34%;
    z-index: 4;
}

.flask4{
    background-image: url("../img/flask4.png");
    width: 4.74vw;
    height: 13.49vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 73.24%;
    left: 66.458%;
    z-index: 4;
}
.space{
    height: 200vh;
}

.plug1{
    background-image: url("../img/plug1.png");
    width: 3.33vw;
    height: 2.96vw;
    background-size: contain;
    top: 37.03vw;
    left: 15.26vw;
    z-index: 2;
    background-repeat: no-repeat;
}

.plug2{
    background-image: url("../img/plug2.png");
    width: 2.7vw;
    height: 2.45vw;
    background-size: contain;
    top: 40.78vw;
    left: 26.61vw;
    z-index: 2;
    background-repeat: no-repeat;
}

.plug3{
    background-image: url("../img/plug3.png");
    width: 2.97vw;
    height: 2.6vw;
    background-size: contain;
    top: 40.78vw;
    left: 51.51vw;
    z-index: 2;
    background-repeat: no-repeat;
}

.plug4{
    background-image: url("../img/plug4.png");
    width: 2.13vw;
    height: 2.13vw;
    background-size: contain;
    top: 40.31vw;
    left: 67.76vw;
    z-index: 2;
    background-repeat: no-repeat;
}

.plugs-container-slow {
    transform: translateZ(2px) scale(0.6);
    z-index: 3;
    width: 100%;
    pointer-events: none;
}

.plugs-container-very-fast {
    transform: translateZ(3.5px) scale(0.3);
    z-index: 3;
    width: 100%;
    pointer-events: none;
}

.plugs-container-fast {
    transform: translateZ(3px) scale(0.4);
    z-index: 3;
    width: 100%;
    pointer-events: none;
}

.plugs-container-very-slow {
    transform: translateZ(1px) scale(0.8);
    z-index: 3;
    width: 100%;
    pointer-events: none;
}

/* Предметы */

.two-bottles{
    background-image: url("../img/bottle3.png");
    width: 6.25vw;
    height: 6.20vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 23%;
    left: 13%;
    z-index: 2;
    position: absolute;
}

.bottle-with-powder{
    background-image: url("../img/bottle1.png");
    width: 5.41vw;
    height: 7.65vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 3%;
    left: 35%;
    z-index: 2;
    position: absolute;
}

.wooden-box{
    background-image: url("../img/box.png");
    width: 10.36vw;
    height: 8.90vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 38%;
    left: 35%;
    z-index: 2;
    position: absolute;
}

.empty-bottle{
    background-image: url("../img/bottle2.png");
    width: 4.21vw;
    height: 8.22vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 2%;
    left: 83%;
    z-index: 2;
    position: absolute;
}

.opaque-bottle{
    background-image: url("../img/bottle4.png");
    width: 6.09vw;
    height: 7.44vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 41.60%;
    left: 54.27%;
    z-index: 2;
    position: absolute;
}

.tv-box{
    background-image: url("../img/tv.png");
    width: 11.61vw;
    height: 7.70vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 20%;
    left: 52.65%;
    z-index: 2;
    position: absolute;
}

/* Тени */

.shadow-of-two-bottles{
    background-image: url("../img/shadow3.png");
    width: 7.39vw;
    height: 6.82vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 4%;
    left: 15%;
    z-index: 2;
    position: absolute;
}

.shadow-of-bottle-with-powder{
    background-image: url("../img/shadow1.png");
    width: 6.2vw;
    height: 8.18vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 19.4%;
    left: 37.6%;
    z-index: 2;
    position: absolute;
}

.shadow-of-wooden-box{
    background-image: url("../img/shadow\ box.png");
    width: 10.83vw;
    height: 9.32vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 37%;
    left: 13%;
    z-index: 2;
    position: absolute;
}

.shadow-of-empty-bottle{
    background-image: url("../img/shadow2.png");
    width: 5.6vw;
    height: 9vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0.5%;
    left: 55%;
    z-index: 2;
    position: absolute;
}

.shadow-of-opaque-bottle{
    background-image: url("../img/shadow4.png");
    width: 6.66vw;
    height: 7.91vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 19.72%;
    left: 73%;
    z-index: 2;
    position: absolute;
}

.shadow-of-tv-box{
    background-image: url("../img/shadow\ tv.png");
    width: 12.70vw;
    height: 8.38vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 38%;
    left: 76%;
    z-index: 2;
    position: absolute;
}

/* Экраны */

.screen2{
    background-image: url('../img/background2.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

.screen3{
    background-image: url('../img/background3.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

.screen4{
    background-image: url('../img/background4.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

/* Разделитель */

.divider{
    width: 100vw;
    height: 1vw;
    background-color: rgb(68,58,47);
}

/* Подсказки */

.opaque-popup-background{
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgba(68,58,47,0.7);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}


.popup{
    width: 46.6vw; 
    height: 27.2vw;
    background-image: url('../img/popup1.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-size: contain;
    background-repeat: no-repeat;
}


.popup-close-button{
    background-image: url('../img/close-button.png');
    width: 3.85vw;
    height: 3.43vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    right: -1%;
    top: 0%;
    border: none;
    background-color: transparent;
}

.hint-button{
    background-image: url('../img/question.png');
    width: 3.54vw;
    height: 3.54vw;
    position:absolute;
    top: 2.22%;
    right: 1.25%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}


/* 2 экран */

.nails {
    background-image: url("../img/nails.png");
    width: 59.17vw;
    height: 8.9vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 20.46%;
    left: 17.7%;
    z-index: 3;
    pointer-events: none;
}

.big-mushroom {
    background-image: url("../img/bigMushroom.png");
    width: 14.95vw;
    height: 18.7vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 35%;
    left: 11.67%;
    z-index: 2;
}

.small-mushroom {
    background-image: url("../img/smallMushroom.png");
    width: 6.98vw;
    height: 9.79vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 27%;
    left: 32.135%;
    z-index: 2;
}

.branch {
    background-image: url("../img/branch.png");
    width: 15.47vw;
    height: 19.79vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 30.926%;
    left: 69.896%;
    z-index: 2;
}

.crystal {
    background-image: url("../img/crystal.png");
    width: 14.01vw;
    height: 8.02vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 82.13%;
    left: 72.71%;
    z-index: 2;
}

.plate {
    background-image: url("../img/plate.png");
    width: 24.635vw;
    height: 13.125vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 72.41%;
    left: 4.896%;
    z-index: 2;
}

.plate-area {
    position: absolute;
    width: 36vw;
    height: 21vw;
    left: 0;
    bottom: 0;
}

.big-flask {
    width: 23.75vw;
    height: 37.45vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 25.28%;
    left: 39%;
    z-index: 2;
}

.big-flask-style-0 {
    background-image: url("../img/bigFlask0.png");
}

.big-flask-style-1 {
    background-image: url("../img/bigFlask1.png");
}

.big-flask-style-2 {
    background-image: url("../img/bigFlask2.png");
}

.big-flask-style-3 {
    background-image: url("../img/bigFlask3.png");
}

.big-flask-style-4 {
    background-image: url("../img/bigFlask4.png");
}

.big-flask-style-5 {
    background-image: url("../img/bigFlask5.png");
}

/* 3 экран */

.microscope {
    background-image: url("../img/microscope.png");
    width: 36.04vw;
    height: 52.29vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 7.41%;
    left: 57.395%;
    z-index: 2;
}

.jar {
    background-image: url("../img/jar.png");
    width: 12.6vw;
    height: 17.86vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 57.96%;
    left: 38.91%;
    z-index: 2;
    cursor: url("../img/pipette.png") 71 60, pointer;
}

.final-big-flask {
    background-image: url("../img/bigFlask5.png");
    width: 23.75vw;
    height: 37.45vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 25%;
    left: 7%;
    z-index: 2;
}

.smoke {
    display: none;
    background-image: url("../img/smoke.png");
    width: 18.33vw;
    height: 36.04vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 3%;
    left: 9.6%;
    z-index: 1;
}

.arrow-right {
    background-image: url("../img/arrowRight.png");
    width: 32.92vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 25%;
    left: 28%;
    z-index: 0;
    display: none;
}

.arrow-left {
    background-image: url("../img/arrowLeft.png");
    width: 11.61vw;
    height: 7.19vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 42%;
    left: 29%;
    z-index: 0;
    display: none;
}

/* 4 экран */

.spinner1 {
    background-image: url("../img/spinner1.png");
    width: 27.34vw;
    height: 29.53vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 43.89%;
    left: 9.27%;
    z-index: 2;
}

.spinner2 {
    background-image: url("../img/spinner2.png");
    width: 13.38vw;
    height: 17vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 8.89%;
    left: 19.01%;
    z-index: 2;
}

.spinner3 {
    background-image: url("../img/spinner3.png");
    width: 15.89vw;
    height: 14.69vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 0;
    left: 51.72%;
    z-index: 2;
}

.spinner4 {
    background-image: url("../img/spinner4.png");
    width: 19.95vw;
    height: 22vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 23.8%;
    left: 67.55%;
    z-index: 2;
}

.spinner5 {
    background-image: url("../img/spinner5.png");
    width: 20vw;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 65.65%;
    left: 46.67%;
    z-index: 2;
}

.sign {
    background-image: url("../img/sign.png");
    width: 42.86vw;
    height: 7.66vw;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 85%;
    left: 30.26%;
    z-index: 0;
}

/* Заглушка */

.mock{
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgb(141, 125, 106);
    background-image: url("../img/mock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}



